.pill {
    min-width: 200px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 5px;
    transition: background-color 0.3s;
    position: relative;
  }
  
  .green {
    background-color: rgb(94, 220, 94);
    color: white;
  }
  
  .red {
    background-color: rgb(215, 82, 82);
    color: white;
  }
  
  .pill-content {
    display: flex;
    align-items: center;
  }
  
  .selected-suboptions {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .selected-suboption {
    margin-right: 10px;
    white-space: nowrap; 
  }
  